{% block content %} 

<h2>Welcome</h2>
<h1>This Website will give you the CO2 emmision for your methods of transportation based on your locations that you input. 
    please input two locations in the following form and the method of travel </h1> 
<form action="{{url_for('data')}}" method="post"> 
    <p> 
        {{form.location_1.label}} <br> 
        {{form.location_1(size=30)}}
    </p>

    <p>
        {{form.location_2.label}} <br>
        {{form.location_2(size=30)}}
    </p>

    <p>
        <!-- We can try this code if we need a change -->
        <!-- <select name=transportation method='GET' action='/homepage'>
        {% for tranprt in transportation %} 
        <option value="{{transportation"}} SELECTED>{{transportation}}</option>"
        {% endfor %} -->
        </select>
        {{form.travel_method.label}} <br>
        {{form.travel_method(size=30)}}
     </p>

    <p>
        
        {{form.submit()}}
        
    </p>
</form> 

{% endblack %} 