<!-- #Work in Progress -->
{% block content %} 
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta>
    <title>Emissions Page</title>
</head>

<body>
    <div class = "co2_content">
        <h1>My CO2 Emissions and Saved Emissions</h1>
        <p>You produced {{outcome}}g of CO2 on your trip and {{em_round}}g of CO2 for a round trip</p>
        {{outcome2}}
        <br>

        <p>
        You saved {{saved1}}g of CO2 compared to taking a car alone. You saved {{percent}}% of your emissions.</p>
        <br> 
        <p>
        You could have only produced {{mini}}g of CO2 if an electric train alternative was possible, 
        saving an additional {{extra_saved}}g of CO2 or {{extra_percent}}%.
        </p>
        
        
    </div>

</body>







</html>
{% endblock %} 