<!DOCTYPE html>
<html lang='en'>
<head>
    <meta>
    <title></title>
</head>

<body>
    <form action="{{url_for('data')}}">

        <fieldset>
          <legend>
                <legend> 
                <h3>transportation*</h3> 
                </legend> 
                <select>
                  <option value=""></option>
                  <option value="Train">Train</option>
                  <option value="Bus">Bus</option>
                  <option value="Car">Car</option>
                </select>
              </div>
              
            </div>
            <div>
              <div>
                <legend>
                <h3>Transportation Type*</h3>
                </legend>
                <div class="TType">
                  <input type="radio" value="none" id="elec_train" name="T_Train" >
                  <label for="elec_train" class="radio">Electric Train</label>

                  <input type="radio" value="none" id="O_train" name="T_Train" >
                  <label for="O_train" class="radio">Other Train</label>

                  <input type="radio" value="none" id="domestic" name="T_plane" >
                  <label for="domestic" class="radio">Domestic Flight</label>

                  <input type="radio" value="none" id="long_haul" name="T_plane" >
                  <label for="long_haul" class="radio">Long Haul Flight</label>

                  <input type="radio" value="none" id="c_electric" name="T_Car" >
                  <label for="c_electric" class="radio">Electric Car</label>

                  <input type="radio" value="none" id="c_plugin" name="T_Car" >
                  <label for="c_plugin" class="radio">Plugin Car</label>

                  <input type="radio" value="none" id="c_hybrid" name="T_Car" >
                  <label for="c_hybrid" class="radio">Hybrid Car</label>

                  <input type="radio" value="none" id="c_gasoline" name="T_Car" >
                  <label for="c_gasoline" class="radio">Gasoline Car</label>
                  
 
                </div>
              </div>
              
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>
            <h3>Terms and Mailing</h3>
          </legend>
          <div  class="terms-mailing">
            <div class="checkbox">
              <input type="checkbox" name="checkbox"><span>I accept the <a href="https://www.w3docs.com/privacy-policy">Privacy Policy for W3Docs.</a></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="checkbox"><span>I want to recelve personallzed offers by your site</span>
            </div>
        </fieldset>
        <button type="submit" href="/">Submit</button>
      </form>

</body>







</html>